
*.cache
BasicGit61/.vs/BasicGit61/v17/.suo
BasicGit61/BasicGit61/bin/Debug/netcoreapp3.1/BasicGit61.deps.json
BasicGit61/BasicGit61/bin/Debug/netcoreapp3.1/BasicGit61.exe
BasicGit61/BasicGit61/bin/Debug/netcoreapp3.1/BasicGit61.pdb
BasicGit61/BasicGit61/bin/Debug/netcoreapp3.1/BasicGit61.dll
BasicGit61/BasicGit61/obj/project.nuget.cache
BasicGit61/BasicGit61/obj/project.assets.json
BasicGit61/BasicGit61/obj/Debug/netcoreapp3.1/BasicGit61.pdb
BasicGit61/BasicGit61/obj/Debug/netcoreapp3.1/BasicGit61.GeneratedMSBuildEditorConfig.editorconfig
BasicGit61/BasicGit61/obj/Debug/netcoreapp3.1/BasicGit61.dll
BasicGit61/BasicGit61/obj/Debug/netcoreapp3.1/BasicGit61.csproj.FileListAbsolute.txt
BasicGit61/BasicGit61/obj/Debug/netcoreapp3.1/BasicGit61.assets.cache
BasicGit61/BasicGit61/obj/Debug/netcoreapp3.1/apphost.exe
BasicGit61/BasicGit61/obj/BasicGit61.csproj.nuget.g.targets
BasicGit61/BasicGit61/obj/BasicGit61.csproj.nuget.g.props
BasicGit61/BasicGit61/obj/BasicGit61.csproj.nuget.dgspec.json
BasicGit61/BasicGit61/bin/Debug/netcoreapp3.1/BasicGit61.runtimeconfig.json
BasicGit61/BasicGit61/bin/Debug/netcoreapp3.1/BasicGit61.runtimeconfig.dev.json
BasicGit61/BasicGit61/obj/Debug/netcoreapp3.1/BasicGit61.assets.cache
BasicGit61/BasicGit61/obj/Debug/netcoreapp3.1/BasicGit61.GeneratedMSBuildEditorConfig.editorconfig
BasicGit61/BasicGit61/obj/project.nuget.cache
BasicGit61/BasicGit61/obj/project.assets.json
BasicGit61/BasicGit61/obj/Debug/netcoreapp3.1/BasicGit61.GeneratedMSBuildEditorConfig.editorconfig
BasicGit61/BasicGit61/obj/Debug/netcoreapp3.1/BasicGit61.assets.cache
BasicGit61/BasicGit61/obj/BasicGit61.csproj.nuget.g.targets
BasicGit61/BasicGit61/obj/BasicGit61.csproj.nuget.g.props
BasicGit61/BasicGit61/obj/BasicGit61.csproj.nuget.dgspec.json
BasicGit61/.vs/BasicGit61/v17/.suo
